.header {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
}
.header__inner {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.header__title-logo {
  color: $light;
  text-decoration: none;
}
.header__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.header__nav-item {
  padding-left: 10px;
  color: $light;
  text-decoration: none;
  width: 40px;
}
.nav__img {
  width: 100%;
  transition: all 50ms linear;
  border-radius: 50%;
  &:hover {
    transform: translateY(-2px);
  }
}
